[run]
omit =
    purchase_system/app.py
    */__init__.py
    */conftest.py
    */ports/*
    */tests/*
    */main.py

    # The main idea is to have only unit tests for the business logic
    # APIs, DBs and external services logic will be tested on
    # integration tests
    */api/*
    */postgres/*
    */web/*
    */db.py

    # The implementations of mapper will be tested in integration tests
    */shared/mapper.py

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    ABC
    TypeVar
    pass
show_missing = true